@import url('https://fonts.googleapis.com/css?family=Acme|Questrial');
body{
    font-family: Helvetica;
    margin: 0;
  }
  
h1,h2,h3{
  margin: 0;
}

.title{
  font-weight: bold;
}

.navbar-brand{
  font-family: 'Acme', sans-serif;
}

.btn-customGreen{
  background-color: #295f48;
  color: aliceblue;
}

#idea-card{
  min-height: 4rem;
  font-weight: 500;
  background-color: #295f48;
  color: aliceblue;
  font-family: 'Questrial', sans-serif;
}

#idea-card-margin{
  height: 12.5em;
  margin-bottom: 3%;
  margin-top: 3%;
}

#ideaCardDetails{
  padding: 1rem;
}

#search-bar{
  margin-top: 2%;
}

#ideaForm-btn{
  margin-top: 1.3%;
}

.bg-custom{
  background-color: #18392b;
}

a#detailLink:hover{
  color:#18392b;
}

a#detailLink{
  color: #295f48;
}
  
#ideaDisplayContainer{
  margin-top: 2%;
}

#adminPage{
  font-family: 'Questrial', sans-serif;
}